html{
  <meta name="viewportâ€ content="width=device-width, initial-scale=1">
}
:root{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size:1.2em;
  line-height:1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Roboto ,cursive;
}
h1 {
  (min-width:1.2em)
}
h2 {
  (min-width:1.0em)
}
@media only screen and (min-width:600px)
  .body{
    (max-width:800px)
  }
@media only screen and (min-width:800px)
  .body{
    (max-width:1200px)
  }
  html * {

      box-sizing: border-box;
  }

  [menu] ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
  }

  body {
      margin: 0;
  }
